/* app.css */

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
	font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
  
	color: black;
  
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
  }
  
  a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
  }
  a:hover {
	color: #535bf2;
  }
  
  body {
	margin: 0;
	min-width: 320px;
	position: relative;
	height: 100%;
}

#app {
	height: 100%; /* Defina a altura para 100% */
}
  
  h1 {
	font-size: 3.2em;
	line-height: 1.1;
  }
  
  .card {
	padding: 2em;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  ::-webkit-scrollbar-track
  {
	  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	  background-color: #575757;
  }
  
  ::-webkit-scrollbar
  {
	  width: 6px;
	  background-color: #7d7d7d;
  }
  
  ::-webkit-scrollbar-thumb
  {
	  background-color: #000000;
  }
  
  /* .btn {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #8200d3;
	color: white;
	cursor: pointer;
	transition: border-color 0.25s;
  }
  .btn:hover {
	border-color: #000000;
	background-color: #a220f3;
  }
  .btn:focus,
  .btn:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
  }

.btn:disabled {
	background-color: #ccc; 
	color: #666; 
	cursor: not-allowed; 
  }
  
  .secondary{
	  background-color: black;
  }
  .secondary:hover{
	background-color: rgb(73, 0, 183);
} */
nav{
	background-color: red;
}